<%- include("components/header.ejs") %>
        <input type="hidden" id="photos-data" value='<%- JSON.stringify(photos) %>' />

        <div class="cardItem">
            <div class="cardGallery">
                <img class="shown-picture" src="https://www.benchmarkemail.com/wp-content/uploads/2024/04/Places-to-Find-Email-Template-Images.jpg" alt="">
                <div class="carousel">
                    <span class="arrow-left"><img src="/images/left.png" /></span>
                    <div class="slider">
                        <img class="carousel-image chosen" src="" alt="Thumbnail 1">
                        <img class="carousel-image" src="" alt="Thumbnail 2">
                        <img class="carousel-image reduce" src="" alt="Thumbnail 3">
                    </div>
                    <span class="arrow-right"><img src="/images/right.png" /></span>
                </div>
            </div>

            <div class="cardDetails">
                <h1><%= name %></h1>
                <h2 class="number">Артикул: <%= articul %></h2>

                <div class="itemData">
                    <!-- <div class="characteristics">
                        <h3>ХАРАКТЕРИСТИКИ:</h3>
                        <p>КОЛІР: <span><%= height %></span></p>
                        <p>МАТЕРІАЛ: <span><%= width %></span></p>
                    </div> -->
  
                    <div class="addition">
                        <h3>Комплектація:</h3>
                        <ul>
                            <% components.forEach(function(component) { %>
                                <li><%= component %></li>
                            <% }); %>
                        </ul>
                    </div>

                    <div class="addition">
                        <h3>Додаткова вартість:</h3>
                        <ul>
                            <% extra_costs.forEach(function(extra, index) { %>
                                <li><%= extra %> - <%= extra_cost_values[index] %> грн</li>
                            <% }); %>
                        </ul>
                    </div>

                    <div class="producing">
                        <h3>термін виготовлення:</h3>
                        <p>сезон (березень-жовтень) - 30 днів </p>
                        <p>несезон (листопад-лютий) - 15 днів</p>
                    </div>  
                </div>

                <div class="downer">
                    <h3>термін доставки:</h3>
                    <p>15-30 днів по Україні</p>
                </div>
                <div class="downer">
                    <h3>ціна:</h3>
                    <p class="number price"><%= price %> <span style="text-transform: lowercase;">грн</span></p>
                </div>
                <div class="buttons">
                    <a class="buy" href="/order?id=<%= id %>">замовити</a><br class="drop">
                    <a class="instruction" href="/information#process">виконання</a>
                </div>
            </div>
            
        </div>
        <!-- <div class="lower-card"> -->
            <!-- <div class="addition">
                <h3>Комплектація:</h3>
                <ul>
                    <% components.forEach(function(component) { %>
                        <li><%= component %></li>
                    <% }); %>
                </ul>
            </div> -->
            <!-- <div class="addition">
                <h3>Додаткова вартість:</h3>
                <ul>
                    <% extra_costs.forEach(function(extra, index) { %>
                        <li><%= extra %> - <%= extra_cost_values[index] %> грн</li>
                    <% }); %>
                </ul>
            </div> -->
        <!-- </div> -->
        <script src="/js/fullscale.js"></script>
        <script src="/js/carousel.js"></script>
<%- include("components/footer.ejs") %>